.form-row{
    margin-bottom: 15px;
}
.form-row input{
    width: 100%;
    padding: 5px;
    outline: none;
    border: 1px solid green;
}
.form-row textarea{
    width: 100%;
    padding: 5px;
    outline: none;
    border: 1px solid green;
}
.form-row input.primary{
   background: palevioletred;
   width: 200px;
   padding: 10px;
   border-radius: 10px;
   color: white;
   border: none;
   cursor: pointer;
}
